*_name_S*

.vs/

# Output directories
obj/
bin/
/bin/
/Package/Release/
/Package/Stage/
/Util/References
TestResults

# NuGet Packages
packages/*

# Temporary VS files
*.suo
*.csproj.user
*.vcxproj.user
*.wixproj.user
*.pidb

# Testing files
TestResult.xml
Solutions/TestResults/
src/samples/Hosting/Scenarios/bin/
tests/**/runsettings.xml

# TODO - testing scripts should not create these files
debug.log
External.LCA_RESTRICTED/Languages/IronPython/27/Lib/@test_*
External.LCA_RESTRICTED/Languages/IronPython/27/Lib/lib2to3/Grammar2.9.9.alpha.0.pickle
External.LCA_RESTRICTED/Languages/IronPython/27/Lib/lib2to3/PatternGrammar2.9.9.alpha.0.pickle

*.bak
*.binlog
*.ProjectImports.zip
*result.xml
