<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="microsoft.scripting" type="Microsoft.Scripting.Hosting.Configuration.Section, Microsoft.Scripting" requirePermission="false"/>
  </configSections>

  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>

  <microsoft.scripting>
    <languages>
      <language names="IronPython;Python;py" extensions=".py" displayName="IronPython 3.0" type="IronPython.Runtime.PythonContext, IronPython"/>
      <!-- Uncomment the following line if IronRuby is available:
      <language names="IronRuby;Ruby;rb" extensions=".rb" displayName="IronRuby 1.1" type="IronRuby.Runtime.RubyContext, IronRuby"/>
      -->
    </languages>
  </microsoft.scripting>
</configuration>
