name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-22.04, macos-14]
        # macOS 14 Sonoma will be deprecated on 2026-07-06 and unsupported on 2026-11-02
        # https://github.com/actions/runner-images/issues/13518
        # but it is the last macOS image that comes with Mono preinstalled
        # https://github.com/actions/runner-images/blob/main/images/macos/macos-14-Readme.md

    steps:
      # Prerequisites
    - name: Checkout DLR source code
      uses: actions/checkout@v4

      # Setup .NET
    - name: Setup .NET 10.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'
    - name: Setup .NET 9.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
    - name: Setup .NET 8.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

      # Build & package
    - name: Build
      run: pwsh make.ps1
    - name: Package
      run: pwsh make.ps1 package

      # Upload package
    - uses: actions/upload-artifact@v4
      with:
        name: packages-${{ matrix.os }}
        path: Package/Release/Packages

      # Tests
    - name: Test (net10.0)
      run: ./make.ps1 -frameworks net10.0 test-all
      shell: pwsh
    - name: Test (net9.0)
      run: ./make.ps1 -frameworks net9.0 test-all
      shell: pwsh
    - name: Test (net8.0)
      run: ./make.ps1 -frameworks net8.0 test-all
      shell: pwsh
    - name: Test (net462)
      run: ./make.ps1 -frameworks net462 test-all
      shell: pwsh
