name: CI

on: [push, pull_request]

jobs:
  build:

    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [windows-latest, ubuntu-22.04, macos-latest]

    steps:
      # Prerequisites
    - name: Install tools
      # Tools needed to build Mono from source
      if: matrix.os == 'macos-latest'
      run: brew install autoconf automake libtool
    - uses: actions/checkout@v4

      # Set up Mono
    - name: Build Mono from source release
      if: matrix.os == 'macos-latest'
      run: |
        export MONO_VERSION="6.14.1"
        mkdir -p ../mono
        pushd ../mono
        curl -LO https://dl.winehq.org/mono/sources/mono/mono-$MONO_VERSION.tar.xz
        tar -xf mono-$MONO_VERSION.tar.xz
        cd mono-$MONO_VERSION
        ./configure --prefix=/opt/mono --disable-nls
        make
        sudo make install
        echo "/opt/mono/bin" >> $GITHUB_PATH
        /opt/mono/bin/mono --version
        popd

      # Setup .NET
    - name: Setup .NET 6.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '6.0.x'
    - name: Setup .NET 8.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'
    - name: Setup .NET 9.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '9.0.x'
    - name: Setup .NET 10.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '10.0.x'

      # Build & package
    - name: Build
      run: pwsh make.ps1
    - name: Package
      run: pwsh make.ps1 package

      # Upload package
    - uses: actions/upload-artifact@v4
      with:
        name: packages-${{ matrix.os }}
        path: Package/Release/Packages

      # Tests
    - name: Test (net462)
      run: ./make.ps1 -frameworks net462 test-all
      shell: pwsh
    - name: Test (net6.0)
      run: ./make.ps1 -frameworks net6.0 test-all
      shell: pwsh
    - name: Test (net8.0)
      run: ./make.ps1 -frameworks net8.0 test-all
      shell: pwsh
    - name: Test (net9.0)
      run: ./make.ps1 -frameworks net9.0 test-all
      shell: pwsh
    - name: Test (net10.0)
      run: ./make.ps1 -frameworks net10.0 test-all
      shell: pwsh
